* {
    outline: red dashed 2px;
}

/* styles the header */
header {
    display:flex;
    justify-content:space-around;
    background-color: gray;
    align-items:center;
}

header h1 {
    background-color: lightblue;
}

/* puts image on the hero class */
.hero {
    background-image: url(../images/top_header.jpg);
    height:200px;
    background-size: cover;
}

nav a {
    display:flex;
    display:inline-block;
    margin-right: 15px;
    font-size: 150%;
}

section h2 {
    border-right: 5px solid black;
    text-align: right;
    padding-right: 20px;
    margin: 10px 50px 10px 100px
}

.contact ul li {
    display:flex;
    display:inline;
    margin: 1%;
}


section div {
    display:flex;
    flex-wrap:wrap;
    justify-content: space-between;
    width: 100%;
    min-height: 200px;
}

section div a {
    display: block;
    background-position:center;
    background-size: cover;
    background-repeat:no-repeat;
    min-height: 200px;
    width: 100%;
    border: 5px solid lightblue;
}

.project {
    padding: 20px;
}

.test{
    flex-basis:100%;
}

.test_1 {
    flex-basis: 45%
}

section {
    display:flex;
}

#horiseon {
    background-image: url(../images/digital-marketing-meeting.jpg);
    min-height: 300px;
    width: 100%;
}

#led-wall {
    background-image: url(../images/LED-Wall-Benefits.png);
}

#run-buddy {
    background-image: url(../images/running-image.jpg);
}

#slots {
    background-image: url(../images/slot-machine.jpg);
}

#puzzle {
    background-image: url(../images/pexels-pixabay-269399.jpg);
}