/* styles the header */
header {
    display:flex;
    justify-content:space-around;
    background-color: gray;
    align-items:center;
}

header h1 {
    background-color: lightblue;
    color: gray;
}

/* puts image on the hero class */
.hero {
    background-image: url(../images/top_header.jpg);
    height:200px;
    background-size: cover;
}

nav a {
    display:flex;
    display:inline-block;
    margin-right: 15px;
    font-size: 150%;
    color: lightblue;
}

section h2 {
    border-right: 5px solid lightblue;
    color: lightblue;
    text-align: right;
    padding-right: 20px;
    margin: 10px 50px 10px 100px;
    font-size: 200%;
}

#about_me h2 {
    padding-left: 23px;
}

#work h2 {
    padding-left: 30px;
}

.work_box div {
    display:flex;
    flex-wrap:wrap;
    justify-content: space-between;
    width: 100%;
    min-height: 90px;
}

section div a {
    display: block;
    display:flex;
    background-position:center;
    background-size: cover;
    background-repeat:no-repeat;
    min-height: 200px;
    width: 100%;
    border: 10px solid lightblue;
    filter: contrast(40%)
}

main section a:hover {
    filter:none;
}

.project {
    padding: 20px;
}

.test{
    flex-basis:100%;
}

.test_1 {
    flex-basis: 45%
}

section {
    display:flex;
}

#horiseon {
    background-image: url(../images/digital-marketing-meeting.jpg);
    min-height: 400px;
    width: 100%;
}

#led-wall {
    background-image: url(../images/LED-Wall-Benefits.png);
}

#run-buddy {
    background-image: url(../images/running-image.jpg);
}

#slots {
    background-image: url(../images/slot-machine.jpg);
}

#puzzle {
    background-image: url(../images/pexels-pixabay-269399.jpg);
}

.contact ul li {
    list-style: none;
    display:inline-block;
    margin: 2%;
    padding-right: 1%
}

.contact a {
    padding: 5px 20px;
    width: 200px;
    display:flex;
    align-items: center;
}

.project {
    padding-right: 60px;
}

#horiseon h3{
    display:flex;
    flex-direction: column;
    color: white;
    font-size: 125%;
    text-decoration: none;
    margin-top: 59px;
}

 h3 {
    color: blue;
    display:flex;
    flex-direction: column;
    font-size: 125%;
    margin-top: 40px;
    
}

a div {
    background-color: lightblue;
    min-height: 40px;
    max-height: 60px;
    max-width: 170px;
    flex-basis: calc(50% - 1em);
    padding: 0px 0px 20px 0px;
    margin: 0.5em;
    margin-top: 80px;
}

div a {
    display: flex;
    align-items: end;
    text-decoration:none;
}

h3 {
    display:flex;
    color: black;
}

@media screen and (max-width: 1600px) {
    section {
        display:flex;
        flex-direction: column;
    }
    section h2 {
        border-right: none;
        border-bottom: 5px solid lightblue;
        text-align: left;
    }

    section div a {
        width: 1400px;
    }
    .contact a {
        margin-left:81px;
    }
    header {
        display:flex;
        flex-direction:column;
        align-items: center;
    }
    h1 {
        width:100%;
        display:flex;
        justify-content:center;
    }
    p {
        margin-left: 94px;
        margin-right: 50px;
    }
    #work a {
        margin-left: 79px;
    }
    nav a {
        font-size: 100%;
    }
}